@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"
    style="background-image: url('Image/BackgroundHomepage.jpg'); height:100vh; width: 100%; background-size:cover;
        background-position: center; display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: center; color: black;">
        <h1 class="display-4">Chào mừng bạn đến với</h1>
        <h2 class="display-4">Trung tâm Văn Tôn</h2>
    </div>
</div>